.sel{
    background-color: lightgray;
}

#itemz>li>button{
    display:none;
}

#itemz>li{
    color:black;
}

#itemz{
    display:none;
    z-index:9999;
}

header{
    height:100px;
}

#main{
    z-index:-1;
}